mixin icon(name, options)
    - options = options || {};
    svg(
        class = options.cls || `svg-icon svg-icon_${name}`
        width = options.w || null
        height = options.h || null
    )
        use(xlink:href="#" + name)

mixin img(className, name, ext, alt, folder, w, h)
    picture
        source(media="(orientation: landscape)", srcset=`img/${folder}/${name}@2x.${ext}`)
        source(media="(orientation: portrait)", srcset=`img/${folder}/${name}.${ext}`)
        img(class=`${className}` src=`img/${folder}/${name}.${ext}` alt=`${alt}` width=`${w}` height=`${h}`)