mixin meta()
    title #{title}
    meta(name="description", content=metaDescription)
    meta(property='og:title', content=title)
    meta(property='og:description', content=metaDescription)
    meta(property='og:image', content=metaOgImage)
    meta(property='og:type', content='article')
    meta(property='og:url', content='')
    meta(name='twitter:card', content='')
    meta(name='twitter:site', content='')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=metaDescription)
    meta(name='twitter:image', content=metaTwImage)



